body {
    background: linear-gradient(#e66465, #9198e5);;
}
.mainpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #ececec;
    box-shadow: 0 0 10px;
    padding-top: 20px;
}
.formQuestion {
    display: flex !important; 
    flex-direction: column !important;
    
}
.pTitle {
    font-size: 20px !important;
    margin: 20px !important;
}
.answerResult {
    display: flex !important; 
    flex-direction: column !important;
    align-items: center !important;
    margin: 20px !important;
}
.buttonSize {
    width: 150px;
    margin-top: 20px !important;
}
.result {
    font-size: 20px !important;
}