.mainpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #ececec;
    box-shadow: 0 0 10px;
    padding-top: 20px;
}
.formQuestion {
    display: flex;
    flex-direction: row;
}
body {
    /* background-color: crimson; */
    background: linear-gradient(#e66465, #9198e5);;
}
.pTitle {
    /* margin: 120px; */
}
.radiogroup {
    
}